<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>автор</strong>
    <small>12.12.2012</small>
  </div>

  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident, eaque consequatur explicabo obcaecati ad ducimus quod corporis iure! Cum?</p>
  </div>
</div>