p {
  font-size: 1.5rem;
}

input  {
  &.ng-invalid.ng-touched {
    border: 2px solid red;
    border-radius: 4px;
  }

  &.ng-valid.ng-touched {
    border: 2px solid green;
    border-radius: 4px;
  }
}